@import 'ui/variables.module.scss';



.ctnIllustration  {
  .illustration {
    width: 100%;
    min-height: 600px;
    background-position: top;
    background-size: contain;
    background-image: url('./images/faceBlackAndWhite.jpg');
    background-repeat: no-repeat;
    transition: 0.3s;
  
    &:hover {
      background-image: url('./images/faceColors.jpg');
      transition: 0.3s;
    }

  }
  
  @media (min-width: $desktop) {
    width: 100%;

    .illustration {
      background-position: center;
      min-height: auto;
    }
  }
}