@import 'ui/variables.module.scss';

@keyframes swapColor {
  from {
    background-image: url('./images/faceBlackAndWhite.jpg');
  }
  to {
    background-image: url('./images/faceColors.jpg');
  }
}

.ctnIllustration  {
  .illustration {
    width: 100%;
    min-height: 600px;
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
    animation: 1.5s linear 0s infinite alternate swapColor;
  }
  
  @media (min-width: $desktop) {
    width: 100%;

    .illustration {
      background-position: center;
      min-height: auto;
    }
  }
}